<div class="navbar">
    <div class="navbar-inner">
        <div class="container pull-left">
            <a class="brand" href="#">Publik</a>
            <ul class="nav ">
                <li class="divider-vertical">
                </li>
                <li>
                    <a id="" href="#">NEWS :</a>
                </li>
                <li>
                    <a id="newsFeed" href="#" target="_blank"></a>
                </li>
                <li>
                    <a id="newsFeed2" href="#" target="_blank"></a>
                </li>
                <li class="divider-vertical">
                </li>
                <li>
                    <form id="formSearchGed" action="/services" class="navbar-search " method="GET">
                        <input type="hidden" name="action" value="documents.read">
                        <input type="hidden" id="formPathGed" name="path" value="">

                        <input type="text" class="search-query" style="width: 125px;" placeholder="Documentation" id="searchGed">
                    </form>
                </li>
            </ul>
            <ul class="nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-wrench icon-white"></i>
                        <b class="caret "></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a id="gedRefresh" href="#"><i class="icon-refresh"></i> Recharger</a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="span2 bs-docs-sidebar">
    <ul class="nav nav-list bs-docs-sidenav  bg-publik ">
        <li class="nav-header">
            Menu
        </li>
        <li class="active lienMenuPrincipal">
            <a href="/index.html" class=""><i class="icon-home "></i>   Accueil</a>
        </li>
        <li class="active lienMenuPrincipal">
            <a href="/ged/index.html" class=" "><i class=" icon-hdd"></i>   Documentation</a>
        </li>
        <li class="active lienMenuPrincipal">
            <a href="/timer/index.html" class=" "><i class="icon-time "></i>   Timer</a>
        </li>
    </ul>
</div>
