<script type="text/html" class="jstemp" id="user_tmpl">
  <% for ( var i = 0; i < users.length; i++ ) { %>
    <li><a href="<%=users[i].url%>"><%=users[i].name%></a></li>
  <% } %>
</script>

<script type="text/html" class="jstemp" id="menuTemplate">
<div class="navbar">
<div class="navbar-inner">
  <div class="container">
<a class="brand" href="#">Publik</a>
<ul class="nav">
 <li class="divider-vertical"></li>
<li><a id="" href="#">NEWS :</a> </li>
 <li class="divider-vertical"></li>
<li><a id="newsFeed" href="#">sss</a></li>
</ul>
</div>
</div>
</div>
<div class="span2 bg-publik " >
<ul class="nav nav-list" >
<li class="nav-header">
 Menu
</li>
<li class="active lienMenuPrincipal">

  <a href="/index.html" class=""><i class="icon-home icon-white"></i>   Maison</a>
</li>

<li class="active lienMenuPrincipal">
  <a href="/ged/index.html" class=" "><i class="icon-time icon-white"></i>   Documentation</a>
</li>
<li class="active lienMenuPrincipal">
  <a href="/timer/index.html" class=" "><i class="icon-time icon-white"></i>   Timer</a>
</li>
</ul>
</div>


</script>