@(name:String,path:String,values:List[Ged],parentId:Option[Ged],currentId:Option[Long])
@import helper._
@import helper.twitterBootstrap._
@import models.GedType
@main("Publik - Documents", name) {
<div class="span10">
    <ul class="breadcrumb span8" style="">
        <li>
           @if(path=="/"){
           <a href="/ged/" class="">RACINE <span class="divider">/</span></a>
           }else{
            <a href="/ged/@{if( parentId!=None)parentId.get.id.get.toString else "" }" class="">RACINE <span class="divider">/ </span>@path</a>
            }
        </li>
    </ul>
</div>
<div class="well row span10 " style="vertical-align:center;">
    &nbsp;
    <div class=" span1 ">
        <b>
            Actions :
        </b>
    </div>
    <div class=" span1 ">
        <button type="button" class="btn" data-toggle="button" data-ged-push="false"
                onclick="GED.afficherFiltre(this,'.filtrer-element');">
            Filtrer
        </button>
    </div>
    <div class=" span1 ">
        <button type="button" class="btn" data-toggle="button" onclick="GED.afficherFiltre(this,'.sort-element');">
            Trier
        </button>
    </div>
    <div class=" span1 ">
        <button type="button" class="btn" onclick="document.location.reload();">
            Réinitialiser
        </button>
    </div>
    <div class="btn-group span4 offset1  ">
        <a class="btn btn-primary" href="#"><i class="icon-plus icon-white"></i> Ajouter</a>
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu" style="text-align: left">
            <li>
                <a href="javascript:GED.openCreateDir();"><i class="icon-folder-open"></i> Dossier</a>
            </li>
            <li>
                <a href="javascript:GED.openUploadFile();"><i class=" icon-plus"></i> Documents</a>
            </li>
            <li>
                <a href="javascript:GED.openAddURL();"><i class=" icon-plane"></i> Site internet</a>
            </li>
        </ul>
    </div>
    <div class=" span9 filtrer-element hide" style="margin-top:15px;">
        <b>
            Filtrer par :
        </b>
    </div>
    <div class=" span9 filtrer-element hide" style="margin-top:15px;">&nbsp;</div>
    <div class=" span1 filtrer-element hide" >
        <b>- type :</b>
    </div>
    <div class=" span3 filtrer-element hide">
        <select id="filter" onchange="GED.filtrer(this);">
            <option value="" selected="selected">
                Aucun
            </option>
            <option value="directory">
                Dossiers
            </option>
            <option value="file">
                Fichiers
            </option>
        </select>
    </div>
    <div class=" span1 filtrer-element hide">
        <b>
            - nom :
        </b>
    </div>
    <div class=" span4 filtrer-element hide">
        <input type="text" id="filterOnName" class="span4 " data-provide="typeahead"
               data-source="" onkeypress="GED.handleKeyPress(event,this)" placeholder="taper le nom ...">
    </div>
    <div class=" span1 sort-element hide" style="margin-top:15px;">
        <b>
            Trier par :
        </b>
    </div>
    <div class=" span3 sort-element hide" style="margin-top:15px;">
        <select id="sortType" onchange="GED.sortElmnt();">
            <option value="date" selected="selected">
                Date
            </option>
            <option value="name">
                Nom
            </option>
            <option value="type">
                Type
            </option>
        </select>
    </div>
    <div id="sortSens" class="btn-group span3  sort-element hide" style="margin-top:15px;"
         data-toggle="buttons-radio">
        <button id="Asc" type="button" class="btn active" onclick="GED.sortElmnt(this)">
            Ascendant
        </button>
        <button id="Desc" type="button" class="btn" onclick="GED.sortElmnt(this)">
            Descendant
        </button>
    </div>
</div>
<div class="container">
    <div class="span2">
        &nbsp;
    </div>
    <div class="span8">
        <table class="table table-condensed" style="font-size: 14pt;font-weight: bold;">
            <tbody id="currentdirectory">
            @if(path != "/"){

                <tr class=" type-directory" >
                    <td class="explorer icone-liste " style="vertical-align: middle;"><img src=""></td>
                    <td class="explorer" style="vertical-align: middle;"><a href="/ged/@{if( parentId!=None)parentId.get.id.get.toString else "" }" >..</a></td>
                </tr>
            }
            @values.map{ v=>

                        <tr class="type-@{if(v.typeDoc == GedType.Directory) "directory" else "file"}" data-filter="@v.name" data-date-modif="@v.date">
                            <td class="explorer icone-liste " style="vertical-align: middle;"><img src="@routes.Assets.at("img/"+v.typeDoc+".png")" heigth="50" width="50" ></td>
                            <td class="explorer" style="vertical-align: middle;"><a href="/ged/@v.id" >@{if(v.typeDoc == GedType.Url) v.name.replaceAll("\\.url","") else v.name }</a></td>
                        </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var GED;
    curl( // fetch all of these resources ("dependencies")
    ["apps/news", "apps/ged"])
    // when they are loaded
    .then(function(News, Ged) {
    console.log("init News");
    News.init();
    GED = Ged;
    Ged.init();
    });
</script>

<div class="modal hide" id="loadModal">
    <div class="modal-header">
        <h3>
            Chargement en cours ...
        </h3>
    </div>
</div>
<div class="modal hide" id="addURLModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>
            Ajouter un site internet
        </h3>
    </div>
    <div class="modal-body">
        <form id="formAddLink" action="@routes.Documents.addLink" class="form-horizontal" method="POST" >
            @if(path=="/"){
                <input name="parent" value="" type="hidden" >
            } else {
                <input name="parent" value="@currentId.get" type="hidden" >
            }
            <fieldset>
                <div id="urlName_control_group" class="control-group">
                    <label class="control-label" for="urlName">
                        Nom du lien :
                    </label>
                    <div class="controls">
                        <input name="name" type="text" class="input-xlarge" id="urlName">
                    </div>
                </div>
                <div id="adress_control_group" class="control-group">
                    <label class="control-label" for="adress">
                        URL :
                    </label>
                    <div class="controls">
                        <input name="url" type="text" class="input-xlarge" id="adress">
                        <p class="help-block">
                            Le nom et l' URL sont obligatoires.
                        </p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fermer</a>
        <a href="javascript:GED.addURL();" class="btn btn-primary">Ajouter</a>
    </div>
</div>
<div class="modal hide" id="addDirectoryModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>
            Ajouter un dossier
        </h3>
    </div>
    <div class="modal-body">
        <form id="formAddDirectory" action="@routes.Documents.addDirectory" method="POST" class="form-horizontal">
            @if(path=="/"){
            <input id="parent" name="parent" value="" type="hidden" >
            } else {
            <input id="parent" name="parent" value="@currentId.get" type="hidden" >
            }
            <fieldset>
                <div id="dirName_control_group" class="control-group">
                    <label class="control-label" for="dirName">
                        Nom :
                    </label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" name="name" id="dirName">
                        <p class="help-block">
                            Le nom du dossier est obligatoire.
                        </p>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fermer</a>
        <a href="javascript:GED.createDir();" class="btn btn-primary">Cr&eacute;er</a>
    </div>
</div>
<div class="modal hide" id="addFileModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
            x
        </button>
        <h3>
            Ajouter un document
        </h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" action="/services" name="uploadForm">
            <input type="hidden" name="action" value="documents.put">
            <input type="hidden" id="pathdir" name="path" value="">
            <input type="hidden" name="type" value="file">
            <fieldset>
                <div id="fileName_control_group" class="control-group">
                    <article>
                        <div id="holder" ondrop="GED.dropUploadFile();" ondragover="this.className = 'hover';return false;"
                             ondragend="this.className = '';return false;">
                        </div>
                        <p style="text-align: center;">
                            D&eacute;poser une document de votre bureau dans la zone
                        </p>
                        <p id="infos">
                        </p>
                    </article>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fermer</a>
    </div>
</div>

}