@(params: List[PostIt],name:String)
@import helper._
@import helper.twitterBootstrap._
@main("Publik - Accueil", name) {


<div id="container-postit" class="hero-unit span10 droppable" style="display: inline; heigth:100%;">
    @for(data <- params) {
    <div data-id-postit="@data.id" class="postit-publik draggable context-menu-postit">
        <div class="postit-header-publik">
            <a class="tooltip-date label @data.typeP" rel="tooltip" data-placement="top" data-original-title="date de création @data.getFormattedDate">
               @data.title
            </a>
        </div>
        <div class="postit-content-publik">
            @data.contains
        </div>
    </div>
    }
</div>
<div id="buttons-pad" style="">
    <a class="btn btn-danger" type="button" data-toggle="modal" data-target="#create-postit"><i class="icon-plus icon-white"></i> Post-It</a>
</div>

<!-- context menu -->
<div id="context-menu-postit"  class="span2 bs-docs-sidebar hide context-menu-publik" >
    <ul class="nav nav-list bs-docs-sidenav  bg-publik " >
        <li class="nav-header">Post-It</li>
        <li class="lienMenuPrincipal"><a href="#" onclick="POSTIT.deletePostIt();" class=""><i class="icon-remove"></i>Supprimer</a></li>
    </ul>
</div>


<!-- modal windows -->
<div id="create-postit" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;
        </button>
        <h3>
            Création d'un nouveau Post-It
        </h3>
    </div>
    <div class="modal-body">

        @form(routes.Application.add, 'id -> "form-create-postit",'class -> "form-horizontal",'name -> "form-create-postit") {
        <input type="hidden"  id="typeP" name="typeP">
            <fieldset>
                <div id="1_control_group" class="control-group">
                    <label class="control-label" for="title">
                        Titre :
                    </label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="title" name="title">
                    </div>
                </div>
                <div id="2_control_group" class="control-group">
                    <label class="control-label">
                        Style du titre :
                    </label>
                    <div class="controls">
                        <div class="btn-toolbar ">
                            <div id="type-title" class="btn-group" data-toggle="buttons-radio">
                                <button class="btn active type-postit" data-type-title-value="label-success" onclick="return false;">
                                    <i class="icon-minus-sign">
                                    </i>
                                </button>
                                <button class="btn type-postit"  data-type-title-value="label-warning" onclick="return false;">
                                    <i class="icon-warning-sign">
                                    </i>
                                </button>
                                <button class="btn type-postit"  data-type-title-value="label-info" onclick="return false;">
                                    <i class="icon-info-sign">
                                    </i>
                                </button>
                                <button class="btn type-postit"  data-type-title-value="label-important " onclick="return false;">
                                    <i class="icon-ok-circle">
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="3_control_group" class="control-group">
                    <label class="control-label">
                        Contenu :
                    </label>
                    <div class="controls">
                        <textarea id="wysiwyg" rows="5" cols="40" name="contains" >
                        </textarea>
                    </div>
                </div>
            </fieldset>
        }
    </div>
    <div id="preview-create-postit" class="hide" style="text-align:center;">
        <div class="postit-publik ">
            <div class="postit-header-publik">
                        <span id="preview-title" class="label label-success">
                        </span>
            </div>
            <div id="preview-contains" class="postit-content-publik">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" onclick="$('#create-postit').modal('hide');">Fermer</a>
        <a href="#" class="btn " data-toggle="button" onclick="POSTIT.changePreviewCreation();">Prévisalisation</a>
        <a href="#" class="btn btn-primary" onclick="POSTIT.createPostIt();">Créer</a>
    </div>
</div>
</div>

<script type="text/javascript">
    var POSTIT,NEWS;
    curl( // fetch all of these resources ("dependencies")
    [
    "apps/news","apps/postit"
    ]
    )
    // when they are loaded
    .then(function(News,Postit){
    console.log("init News");
    News.init();
    NEWS =News;
    POSTIT = Postit;
    Postit.init();
    });
</script>
}